<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!--    <bean  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:*.properties</value>
            </list>
        </property>
    </bean>-->

    <bean id="monitorJob" class="cn.acyou.iblog.quarz.MonitorJob"/>
    <bean id="firstJobTask"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="monitorJob"/>
        <property name="targetMethod" value="firstJob"/>
    </bean>

    <bean id="firstJobTaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="firstJobTask"/>
        <property name="cronExpression" value="*/5 * * * * ?"/>
    </bean>

    <bean id="startQuertz" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref local="firstJobTaskTrigger"/>
            </list>
        </property>
    </bean>

</beans>