<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">
    <!-- 统一读取properties配置文件 可以在xml中使用${xx}取值 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:common.properties</value>
                <value>classpath*:conf/*.properties</value>
            </list>
        </property>
    </bean>
    <!-- 读取属性文件:db.properties 可以在类中使用：@Value("#{resourceConf.uploadpath}") -->
    <util:properties id="resourceConf" location="classpath:conf/resource.properties" />
    <!-- 配置组件扫描 -->
    <context:component-scan base-package="cn.acyou.iblog.service.impl"/>
    <!-- 扫描util包 - 使用构造器注入创建对象！！ -->
    <context:component-scan base-package="cn.acyou.iblog.utility"/>
    <!-- 增加MVC注解扫描 -->
    <mvc:annotation-driven/>
    <!-- 线程池 -->
    <bean id="afterCommitExecutor" class="cn.acyou.iblog.executor.AfterCommitExecutorImpl"/>
    <!--  Bean 拷贝工具OrikaMapper -->
    <bean id="orikaMapper" class="cn.acyou.iblog.orika.OrikaMapper"/>
    <!-- Quarz定时任务 -->
    <import resource="classpath*:applicationContext-quarz.xml"/>
    <!-- Spring-Scheduled定时任务 -->
    <!--
    <task:executor id="executor" pool-size="5" />
    <task:scheduler id="scheduler" pool-size="10" />
    <task:annotation-driven executor="executor" scheduler="scheduler" />
    -->
    <!-- Dubbo 服务 -->
<!--<import resource="classpath*:application-provider.xml"/>
    <import resource="classpath*:application-dubbo-publish.xml"/>-->

    <!-- Spring aop -->
    <context:component-scan base-package="cn.acyou.iblog.aop"/>
    <!-- 使@Aspect注解生效 -->
    <aop:aspectj-autoproxy/>

    <!-- Redis -->
    <import resource="classpath*:spring/application-redis.xml"/>

</beans>